*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    height:100vh ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
  160deg,
  rgba(62, 30, 104, 1) 0%,
  rgba(156, 78, 243, 1) 50%,
  rgba(226, 155, 247, 1) 100%
);
}
.container{
    border: 2px solid black;
    height: 90%;
    width: 40%;
    border-radius:2rem;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter:blur(15px);
    box-shadow: 0pc 0pc 10px 5px rgb(83, 36, 128);
}
.wether-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-btn{
    margin-top: 3vh;
    display: flex;
    align-items: center;
}
#input{
    height: 7vh;
    width: 59vh;
    border-radius: 1rem;
    text-align: center;
    border: none;
    margin-right: 1vh;
    outline: none;
}
#btn{
    height: 7vh;
    border: none;
    width: 15vh;
    border-radius: 1rem;
    margin-left: 1vh;
}
#select{
  border-radius: 1rem;
  padding: 2.5vh;
  margin: 1PX;
  outline: none;
}
#icon{
height: 20vh;
width: 10vw;
position: relative;
margin-right: 53vh;
animation-name: lefttoright;
animation-duration: 5s;
animation-timing-function: ease-in-out;
animation-delay: 1s;
animation-iteration-count: infinite;
}
@keyframes lefttoright{
    0% { left: 0; }
    25% { left: 200px; }   
    50% { left: 400px; }   
    75% { left: 200px; }   
    100% { left: 0; }
}
#temp{
    font-size: 7vh;
}
#location{
    font-size: 4vh;
}
.icon-back{
    margin: 1vh;
    background-color: rgba(0, 0, 0, 0.432);
    width: 36vw;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}
.mid-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
#house{
height: 40vh;
position: relative;
z-index: 3;
}
.second-continer{
    position:absolute;
    z-index: 8;
    width: 100%;
    height:25.5vh ;
    border: none;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    border-bottom-left-radius:2rem;
    border-bottom-right-radius:2rem;
}
.date-time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    border: none;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    background: rgba(164, 62, 190, 0.485);
    backdrop-filter:blur(15px);
    box-shadow: 0px 6px 0.1px rgba(0, 0, 0, 0.259);
}
#date,#time{
 font-size: 1.3rem;
 color: rgb(216, 218, 220);
}
.wind-humidity{
    margin-top:1vh;
    background: rgba(164, 62, 190, 0.485);
    backdrop-filter:blur(15px);
    height: 19.5vh;
    border-bottom-left-radius:2rem;
    border-bottom-right-radius:2rem;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:rgb(216, 218, 220);
}
.humidity{
    display: flex;
    margin-right:7vh ;
    align-items: center;
}
.wind{
    display: flex;
    align-items: center;
    margin-left:7vh ;
}
#img{
    margin: 0.5rem;
    font-size:7vh;
}
#humidity-no{
    font-size: 5vh;
    text-align: center;
}
#humidity{
    font-size: 3vh;
}
#wind{
    font-size: 3vh;
}
#wind-no{
    font-size: 5vh;
}

@media (max-width: 768px) {
  body {
    height: 100vh;
    flex-direction: column;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    position: fixed;
    width: 100%;
    height: 80%;
    max-width: 400px;
  }
  #input{
    width: 40vh;
  }
  #btn{
    width: 10vw;
  }
  .icon-back{
    height: 15vh;
    width: 90%;

  }
  #icon{
    height: 12vh;
    width: auto;
    animation: none;
    margin: 0%;
  }
  #house{
    height: 25vh;
  }
  .mid-image{
   height: 15vh;
  }
  .second-continer{
    position: absolute;
    z-index:8;
    margin-bottom: 50vh;
  }
  #img{
    font-size: 7vh;
  }
  #humidity-no{
    font-size: 3vh;
  }
  .humidity{
    width: 12vh;
    margin-left: 1rem;
  }
  .wind-humidity{
    width: 53vh;
  }
  #wind{
    width: 20vh;
  }
  #wind-no{
   font-size: 1.5rem; 
  }

}
